body
{
    background : rgb(51,51,51);
}

.container
{
    padding : 0rem;
    margin  : 2rem;
}

.jumbotron
{
    padding : 1rem;
    margin  : 0rem;
}

.load
{
   /* background    : magenta; */
    height        : 450px;
    align-content : stretch;
    display       : table-cell;
}

.dash-spinner
{
    margin: 0 auto;
}

.t1p
{
    padding-top   : 1rem;
}

.l1p
{
    padding-left   : 1rem !important;
}

.r1p
{
    padding-right  : 1rem !important;
}

.h1p
{
    padding-left   : 1rem !important;
    padding-right  : 1rem !important;
}

.v1p
{
    padding-top    : 1rem;
    padding-bottom : 1rem;
}

.v1m
{
    margin-top    : 1rem;
    margin-bottom : 1rem;
}

.card
{
    border-radius : 0.3rem;
    padding       : 4px;
    min-height    : 36px;
}

.wrap
{
    width        : 100%;
    height       : 100%;
}

.mask
{
    height       : 460px;
    display      : contents;
}

.nop
{
    padding  : 0rem;
}

.nom
{
    margin   : 0rem;
}

.DateInput_input
{
    padding-top    : 4px;
    padding-bottom : 4px;
}

.mini
{
    height : 36px !important;
}

.mini > div
{
    display : none;
}

.hide
{
}

.hide > div
{
    display : none;
}

.dropdown,
.dropdown-toggle
{
    width    : 100%;
    display  : block;
}

.nav
{
    padding-top : 6px;
}

.navbar-brand
{
 /* font    : bold 29px Georgia;
    padding : 0rem;*/
    height  : 36px;
    line-height:36px;
}

rect.bg
{
    fill: rgb(255, 255, 255) !important;
}

label
{
    margin      : 0rem;
    margin-left : 0.3rem;
    font        : bold 10px Helvetica;
    color       : firebrick;
    line-height : 10px
}

.dis
{
    display : grid;
}